.container{
    display: flex;
    background: #06206a;
}
.container div{
    background: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}
.container div:nth-child(1){
    order: 2;
}
.container div:nth-child(2){
    order: 3;
}
.container div:nth-child(3){
    order: 0;
}
.container div:nth-child(4){
    order: 1;
}
.container2{
    display: flex;
    background: #159036;
    flex-direction: column-reverse;
}
.container2 div{
    background: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}
.container3{
    display: flex;
    background: #c54109;
    flex-direction: row;
}
.container3 div{
    background: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
}
.container3 div:nth-child(1){
    flex-grow: 4;
}
.container4{
    display: flex;
    background: #b10a60;
    flex-direction: row;
    flex-wrap: wrap;
}
.container4 div{
    background: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 30%;
}
.container5 {
    display: flex;
    background-color: #7c2d5e;
    flex-direction: row;
    justify-content: space-evenly;
}
.container5 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    height: 50px;
}
.container5 div:nth-child(2){
    align-self: flex-end; 
}

.container6 {
    display: flex;
    background-color: coral;
    flex-direction: row;
    height: 200px;
    align-items: stretch;
}

.container6 div{
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    /* height: 50px; */
}

/* .container6 div:nth-child(1){
    height: 20px;
}
.container6 div:nth-child(2){
    height: 100px;
}
.container6 div:nth-child(3){
    height: 50px;
}
.container6 div:nth-child(4){
    height: 130px;
} */

.container7 {
    display: flex;
    background-color: rgb(255, 252, 80);
    flex-direction: row;
    height: 800px;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.container7 div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    width: 400px;
    height: 200px;
}