#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    /* transform: translate(100px,50px); */
    /* transform: rotate(90deg); */
    transform: scale(2,2);
    padding: 10px;
}
#scaleX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleX(3);
}
#scaleY{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleY(3);
}
#skewX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 250px;
    transform: skewX(-40deg);
}
#skewY{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 650px;
    transform: skewY(40deg);
}
#rotate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 750px;
    /* transform: rotateX(130deg); */
    /* transform: rotateY(130deg); */
    transform: rotateZ(130deg);
}
.container{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background 3s, border-radius 5s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
.container:hover{
    background: blue;
    border-radius: 50%;
}
#foto1 img{
    transform: scale(1);
    transition: .3s ease-in-out;
}
#foto1:hover img{
    transform: scale(1.3);
}
#foto2 img{
    margin-left: 0px;
    transition: .3s ease-in-out;
}
#foto2:hover img{
    margin-left: 30px;
}
#foto3 img{
    filter: blur(3px);
    transition: .3s ease-in-out;
}
#foto3:hover img{
    filter: blur(0px);
}