body{
    margin: 0;
    background-color: #85C1E9;
}
header{
    background-color:#1A5276;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
header img{
    height: 100%;
}
header nav{
    margin: auto;
}
header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    
}
header nav ul li a:hover{
    color: #F7DC6F;
    transition: color 2s;
}
footer {
    background-color: #2C3E50; 
    color: #ECF0F1;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h3, .footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #D4AC0D; 
  }
  
  .footer-section p, .footer-section ul {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #ECF0F1;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #F7DC6F; 
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #34495E;
    padding-top: 10px;
  }
  