body{
    counter-reset: number;
    background: url(image1.jpg)
    top center / 200px 200px
    no-repeat
    fixed
    padding-box
    content-box
    rgb(236, 156, 156)
    ;

}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover  .dropdown-content{
    display: block;
}
.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
h2::before{
    counter-increment: number;
    content: counter(number);
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    color: #020060;
    margin: 10px;
}
:root{
    --primary-color: #06206a;
    --secondary-color: #fff;
    --padding: 20px;
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}
p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}
#example-one{
    border-radius: 5px 60px 5px;
    background: #bada55;
    width: 50px;
    height: 50px;
}
#example-two{
    border-radius: 30px/10px;
    border:3px solid #bada55;
    width: 50px;
    height: 50px;
}
.shadow{
    width: 100px;
    height: 100px;
    -moz-box-shadow: 2px 2px 4px 5px #eee;
    -webkit-box-shadow: 2px 2px 4px 5px #eee;
    box-shadow: 2px 2px 4px 5px #eee;
}